header {
    display: flex;
    justify-content: center;
    background-color: #5D5DFD;
    width: 100%;
}

body {
    margin: auto 0;
    overflow-x: hidden;
    padding-bottom: 50px;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    text-align: left;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.center-content {
    max-width: 800px;
    margin: 0 auto;
}

.space {
    padding-left: 50px;
    padding-right: 50px;
}

.about {
    padding-top: 20px;
    padding-bottom: 20px;
}

.purpose {
    padding-top: 20px;
    padding-bottom: 20px;
}

.simulation {
    padding-top: 20px;
}

.about, .purpose, .simulation {
    background-color: #FFFFFF;
}


.textinput {
    width: 100%;
    min-height: 100px;
    resize: none;
    border: 1px solid #5D5DFD;
}

