header {
    display: flex;
    justify-content: center;
    background-color: #304285;
}

body {
    margin: auto 0;
    overflow-x: hidden;
}


h1 {
    color: white;
    text-align: center;
}

h2 {
    text-align: left;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.space {
    padding-left: 50px;
    padding-right: 50px;
}

.about {
    padding-top: 20px;
    padding-bottom: 20px;
}

.purpose {
    padding-top: 20px;
    padding-bottom: 20px;
}

.simulation {
    padding-top: 20px;
    padding-bottom: 205px;
}

.about, .purpose, .simulation {
    background-color: #CBD2ED;
    padding-left: 20%;
    padding-right: 20%;
    height: 100%;
}

.textinput {
    width: 100%;
    min-height: 100px;
    resize: none;
    border: 1px solid #304285;
}



